.llyfrgell-search-context {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.llyfrgell-search-entry {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.solarized,
.solarized text,
.solarized border {
  background-color: #fdf6e3;
}

.solarized border {
  color: #586e75;
  border-top: solid 1px #93a1a1;
}
